@media (min-width:550px) {
 /* smartphones, iPhone, portrait 480x320 phones */ 

 #container {
 	max-width: 500px;
 }
}

@media (min-width:916px) {
 /* smartphones, iPhone, portrait 480x320 phones */ 

 #container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
}

@media (max-width: 640px) {
	#gradeScaleTable {
 		min-width: 467px;
 	}
}

@media screen and (min-width: 900px) {
    #container {
    	
    	
    }
}

@media screen and (min-width: 900px) {
	#container {
    	
    }
}

@media screen and ( max-height: 500px), {
	#container {
		position: relative;
    	top: 0;
    	left: 0;
    	transform: initial;
	}
}
