*  {
	font-family: 'Rubik', sans-serif;
 }

body {
	background: #fc00ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


html {
 height:100%; 
}


#container {
	border: 2px;
	border-style: solid;
	text-align: center;
	/*max-width: 500px;*/
	padding: 2%;
	margin: auto;
	background: white;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	border-radius: 50px;

}

.text-line {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
    text-align: center;
    width: 60px;
    color: black;
}

/*disable tickers */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.percentSym {
	display: inline;
}

/* Navigation */
.backArrow {

	float: left;
	width: 15px;

}

/* Footer */
#footer {
	width: 100%;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;

}

#versionDiv {
	float: right;
	margin: auto;
}

#goButton {
	border-radius: 50px;
    border: 2px solid #fff;
    color: white;
    padding: 10px 20%;
    background-color: transparent;
    font-size: 15px;
    outline: none;

}

table {
	table-layout: fixed;
	border-color: black;
}

.tableAlign {
	text-align: left;
	width: 23px;
	margin: auto;
}

#gradeScaleTableDiv {
	overflow-x: scroll;
}

#gradeScaleTable td {
	min-width: 32px;
}

/* Change Scale View */

#changeScaleView {
	display: inline-flex;

}

.incrementButton {
	background-color: transparent;
    border-color: lightgray;
    border-radius: 100px;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2rem;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    outline: none;
}

.tableHeader {
	background-color: #3498db;
    color: white;
}

.moreButton {
	background-color: transparent;
    border-color: transparent;
	margin-top: 10px;
	outline: none;
}


#socialMedia img {
	width: 15%;

}

table th {
	text-align: center;
}





